.register-component {
  display: flex;
  flex-direction: column;
  align-items: center;

}
input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 14px;
  border: 1px solid #dce3ea;
  background: #f7fbff;
  box-sizing: border-box;
}


.extra {
  margin-top: 20px;
  font-size: 13px;
}

.extra a {
  color: #1f3b60;
  text-decoration: none;
}