<article class="swipe-card">

    <header class="secret-santa-title">
        AMIGO INVISIBLE
    </header>

    <img src="chibiRecibiendo.png"(load)="onLoad()" (error)="onLoad()" style="display: none;"/>

    <div class="swipe">
        @if(!(loading$ |async)){
            @if((load$ | async) ){
            <div class="swipe-image" [style.transform]="getTransform()" (mousedown)="onMouseDown($event)" (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
                <img class="ia" src="chibiRecibiendo.png" alt="Regalo invernal" (load)="onLoad()" (error)="onLoad()"/>
            </div>

            <div class="swipe-content">
                <p class="content-label">Regalas a</p>
                <h2 class="content-name">{{receiver$ | async}}</h2>
            </div>
            }@else {
                <div style="display: flex;justify-content: center; align-items: center;height: 100%;">
                    <mat-spinner></mat-spinner>
                </div>
            }   
        }@else{
           <div style="display: flex;justify-content: center; align-items: center;height: 100%;">
                    <mat-spinner></mat-spinner>
            </div>
        }

        
        
       

    </div>

</article>
