
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
.main-container{
  height: 100%;
}

body{
  font-family: 'Segoe UI', sans-serif;
  margin:0;
  height: 100dvh;
  background: linear-gradient(180deg,var(--bg-1) 0%, var(--bg-2) 60%, #0b1830 100%);
  color: #f8fafc;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  overflow: hidden;
  box-sizing: border-box;
  z-index: 1;
}



.link-button {
  background: none;
  border: none;
  color: var(--mat-sys-primary);
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
}
.normal-button {
  width: 100%;
  padding: 12px;
  background: #1f3b60;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  font-family: "Segoe UI", sans-serif;
}

.normal-button:hover {
  background: #10233c;
}
.normal-button:active{ transform: translateY(1px) }

.error-message {
  color: #ff4d4d;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
.input-error{
  border: 1px solid #ff4d4d !important;
}

:root{
--bg-1: #04102a;
--bg-2: #0f2a44;
--card: rgba(255, 255, 255, 0.06);
--accent: #7fb6ff;
--muted: rgba(255, 255, 255, 0.7);
--glass-border: rgba(127, 182, 255, 0.18);
--glass-border-2: rgba(255, 255, 255, 0.03);
font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
 --error-color: #f87171 !important;
}

.snow{
  position: absolute;
  border-radius: 50%;
  background-color: white;
  z-index: -1 !important;
  top: -100px;
}

@keyframes fall {
  0% {
    top: -100px;
  }
  100% {
    top: 100vh;
  }
}

@media (max-width: 600px) {
    .main-container {
        padding: 40px,20px,20px;
    }
}

.card{
  background: var(--bg-2);
  border-radius:18px;
  padding:18px;
  border:1px solid var(--glass-border-2);
  box-shadow: 0 8px 30px rgba(2,8,18,0.6), inset 0 1px 0 rgba(255,255,255,0.02);
  transition: transform .25s cubic-bezier(.2,.9,.2,1), box-shadow .25s;
  min-height:140px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  cursor:pointer;
}




.card:hover{
  transform: translateY(-6px) scale(1.01);
  box-shadow: 0 18px 40px rgba(2,8,30,0.7);
}

.group-title{
  display:flex;
  align-items:center;
  gap:12px;
  font-size:18px;
  font-weight:700;
  color: #eaf6ff;
}

.badge{
  display:inline-grid;
  place-items:center;
  width:40px;
  height:40px;
  border-radius:10px;
  background: linear-gradient(180deg, rgba(127,182,255,0.14), rgba(255,255,255,0.02));
  border:1px solid var(--glass-border);
  font-weight:800;
  color:var(--accent);
  box-shadow: 0 4px 10px rgba(18,40,70,0.45);
}



.panel{
    .mat-mdc-dialog-surface {
      border-radius: 16px;
      padding: 20px;
      background: var(--bg-2);
      border: 1px solid rgba(127, 182, 255, 0.06);
      box-shadow: 0 10px 30px rgba(3, 12, 30, 0.5);
    }
}

.secret-santa-panel{
  .mat-mdc-dialog-surface {
      border-radius: 16px;
      padding: 20px;
      background: transparent;
      border: none;
      box-shadow: none;
      overflow: hidden;
    }
}
.cdk-overlay-container{
  backdrop-filter: blur(10px); 
}
.group-text-field{
  width: 100%;
}

.group-text-field{
  .mdc-text-field{
    background-color: rgba(255, 255, 255, 0.02) !important;
    border-radius: 12px;
    border:solid 1px var(--glass-border) ;
    font-family: 'Segoe UI', sans-serif !important;
    color: white !important;
  }
  .mat-mdc-input-element {
    color: white !important;
  }
  .mdc-line-ripple{
    display: none;
  }
  .mat-mdc-form-field-error{
    font-family: 'Segoe UI', sans-serif !important;
    color:var(--error-color);
  }
  .mat-mdc-form-field-subscript-wrapper{
    display: none;
  }
  .mdc-floating-label{
    font-family: 'Segoe UI', sans-serif !important;
    color: #cfe5ff !important;
  }
  &.mat-form-field-invalid {
    .mdc-text-field {
      border-color: var(--error-color) !important;
    }

    .mdc-floating-label {
      color: var(--error-color) !important;
    }
    .mat-mdc-form-field-subscript-wrapper{
      display: block;
    }
  }
}

::-webkit-scrollbar {
    width: 15px;    
}

::-webkit-scrollbar-track {
    background: var(--bg-1);      /* fondo del track */
    border-radius: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-2); /* color del “thumb” */
    border-radius: 10px;       
    border: 3px solid var(--bg-1); /* separa thumb del track */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #81c784; /* color al pasar el mouse */
}